.user-card {
  border: 1px solid grey;
  min-height: 300px;
  padding: 25px;
  background-color: #95dada;
  border-radius: 5px;
  transition: transform 0.25s ease-out;
}

.user-card:hover {
  transform: scale(1.05);
}

.app-container {
  padding-bottom: 10px;
}

@media (max-width: 991.98px) {
  .user-card:hover {
    transform: scale(1);
  }
}